.main{
    background-color: transparent;
}
.main .contenedor-Inicio-Sesion{
    border:1px solid grey;
    width: 60%;
    margin: auto;
    background-color:transparent;
    border-radius: 20px;
    padding: 60px;
}
.main .contenedor-Inicio-Sesion:hover{
    box-shadow: 0px 4px 25px 8px grey;
    background-color: #fff;


}
.main .contenedor-Inicio-Sesion h4{
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}
.main .datos-edit{
    background-color: red;
    width: 100%;
    padding: 10px 5px;
    margin-top:30px;
    border-left:none;
    border-top: none;
    border-right: none;
    border-bottom:1px solid grey;
    border-radius: 2px;
    background-color: transparent;
    outline: none;
}
.main .datos-edit:focus{
    border-bottom:1px solid #0D68F3;

}

.main .btn-guardar-cambios{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-top: 50px;
    background-color: #0D68F3;
    color:#fff;
    border:none;
}
.main .btn-guardar-cambios:hover{
    background-color: #77a6ec;
}
.main .contenedor-Inicio-Sesion p{
    width: 30%;
    border-radius: 30px;
    background-color: green;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
.main .contenedor-Inicio-Sesion a{
    color:#fff;
}
.main .contenedor-Inicio-Sesion p:hover{
    background-color: rgb(61, 168, 61);

}