
.main #form-Register{
    border: 1px solid grey;
    background-color:transparent;
    width: 50%;
    height: 100%;
    margin:auto;
    padding: 90px;
    border-radius: 20px;

}

.main #form-Register h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.main .datos-register{
    background-color: transparent;
    width: 100%;
    padding: 0px 20px;
    margin-top: 30px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom:1px solid grey;
    outline:none;
}

.main #form-Register:hover{
    box-shadow: 0px 4px 25px 8px grey;
    background-color: #fff;
}
.main .datos-register:focus{
    border-bottom:1px solid #009ad5 ;
;
}
.main .btn-register{
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 20px;
    border:none;
    background: linear-gradient(75deg, #009ad5,#000060);

}
.main .btn-register a{
    font-size: 20px;
    color:#fff;
}